{% extends 'base.html.twig' %}

{% block title %}{{ 'unpaid_carts.title'|trans({}, 'messages', app.request.locale) }}{% endblock %}

{% block body %}
<div class="content">
    <h1 class="page-title">{{ 'unpaid_carts.page_title'|trans({}, 'messages', app.request.locale) }}</h1>

    <table class="cart-table">
        <thead>
            <tr>
                <th>{{ 'unpaid_carts.cart_number'|trans({}, 'messages', app.request.locale) }}</th>
                <th>{{ 'unpaid_carts.user'|trans({}, 'messages', app.request.locale) }}</th>
                <th>{{ 'unpaid_carts.content'|trans({}, 'messages', app.request.locale) }}</th>
            </tr>
        </thead>
        <tbody>
            {% for cart in carts %}
                <tr>
                    <td>{{ cart.id }}</td>
                    <td>{{ cart.user.email }}</td>
                    <td>
                        <ul>
                            {% for content in cart.contenuPaniers %}
                                <li>{{ content.produit.title }} ({{ content.quantite }})</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
